:root {
    --cor-azul: #007bff;
    --cor-cinza: #e9ecef;
    --cor-cinza-escuro: #5a5a5a;
    --cor-claro: #fff;
    --cor-escuro: #343a40;
    --cor-verde: #28a745;
    --fonte-principal: 16px Arial, Helvetica, sans-serif;
}

html {
    font: var(--fonte-principal);
    color: var(--cor-cinza-escuro)
}

body {
    background-color: var(--cor-claro);
}

/** Cabeçalho Principal **/

header.cabecalho {
    background-color: var(--cor-escuro);
    color: var(--cor-claro);
}

nav.menu-principal ul {
    list-style: none;
}

a.link-navegacao {
    color: var(--cor-claro);
    text-decoration: none;
}

ul.dropdown-menu {
    background-color: var(--cor-claro);
}

ul.dropdown-menu a.link-navegacao {
    color: var(--cor-escuro)
}

/** Rodapé principal **/

footer.rodape {
    background-color: #6c757d;
    color: var(--cor-claro);
}

footer.rodape ul {
    list-style: none;
}

a.social-link {
    background-repeat: no-repeat;
    color: var(--cor-claro);
    text-decoration: none;
}

a.social-link.facebook { background-image: url("imagens/facebook-icon.png"); }

a.social-link.linkedin { background-image: url("imagens/linkedin-icon.png"); }

a.social-link.instagram { background-image: url("imagens/instagram-icon.png"); }

a.social-link.twitter { background-image: url("imagens/twitter-icon.png"); }

a.social-link.youtube { background-image: url("imagens/youtube-icon.png"); }

/** Botoes **/
.botao {
    border: 1px solid var(--cor-cinza-escuro);
    border-radius: 5px;
    color: inherit;
    text-decoration: none;
}

.botao-principal {
    color: var(--cor-claro);
    background-color: var(--cor-azul);
    border-color: var(--cor-azul);
}

.botao-sucesso {
    color: var(--cor-claro);
    background-color: var(--cor-verde);
    border-color: var(--cor-verde);
}

.botao-invertido-principal {
    color: var(--cor-azul);
    background-color: transparent;
    border-color: var(--cor-azul);
}

.botao-invertido-principal:hover {
    color: var(--cor-claro);
    background-color: var(--cor-azul);
    border-color: var(--cor-azul);
}

.botao-invertido-sucesso {
    color: var(--cor-verde);
    background-color: transparent;
    border-color: var(--cor-verde);
}

.botao-invertido-sucesso:hover {
    color: var(--cor-claro);
    background-color: var(--cor-verde);
    border-color: var(--cor-verde);
}

/** Títulos comuns **/
.titulo-curso {
    color: var(--cor-azul);
}